<configuration>
    <!--載入Springboot 默認配置-->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 設置日誌級別 這段配置表示根 logger 的日誌級別為 info，而且它將日誌事件同時路由到 INFO_FILE 和 ERROR_FILE 兩個 appender。-->
    <root level="info">
        <appender-ref ref="INFO_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

    <!-- 定義日志输出目錄 -->
    <property name="LOG_DIR" value="./logs"/>


    <turboFilters class="ch.qos.logback.classic.turbo.LevelFilter">
        <level>debug</level>
        <onMatch>DENY</onMatch>
    </turboFilters>

    <!--控制台輸出-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>DEBUG</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Info 級-->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/info-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"> <!--過濾log等級 特定log等級不寫入日誌檔案-->
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Error级别 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/error-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定義特定的日志級別 -->
    <logger name="com.example.leonproject.infolog" level="info" additivity="false">
        <appender-ref ref="INFO_FILE"/>
    </logger>

    <logger name="com.example.leonproject.errorlog" level="error" additivity="false">
        <appender-ref ref="ERROR_FILE"/>
    </logger>

    <logger name="com.example.leonproject.aop" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
